.container2 {
    display: flex;
    width: 360px;
    height: 75vh;
    border-radius: 20px;
    border: #472183 2px solid ;
    justify-content: space-evenly;
    padding: 0;
    box-shadow: 0px 5px 5px rgb(227, 227, 227);
    text-align: center;
    flex-direction: column;
    align-items: center;

    .img2{
        width:300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    img  {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        object-fit: scale-down;
        
    }
    
    .text2{
        margin-top: 25px;
        margin-left: -24px;
    h1{
        font-weight: 600;
    }
    button {
        border: 2px solid #4B56D2;
        border-radius: 15px;
        background-color: #4B56D2;
        color:white;
        padding: 5px;
        
    }
        
}}